apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api-server-storage
  namespace: trendgetter
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api-server-logs
  namespace: trendgetter
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 5Gi

